<header>
  <nav>
    <a href="/">Mybrary</a>

    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new">Add Author</a></li>
      <li><a href="/authors">Books</a></li>
      <li><a href="/authors/new">Add Book</a></li>
    </ul>
  </nav>
</header>
